CacheControl==0.12.5
cachetools==3.0.0
certifi==2018.11.29
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.10
django-heroku==0.3.1
firebase-admin==2.14.0
get==2018.11.19
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-firestore==0.31.0
google-cloud-storage==1.13.2
google-resumable-media==0.3.1
googleapis-common-protos==1.5.5
grpcio==1.17.1
gunicorn==19.9.0
idna==2.7
msgpack==0.6.0
post==2018.11.20
protobuf==3.6.1
psycopg2==2.7.6.1
public==2018.11.20
pyasn1==0.4.4
pyasn1-modules==0.2.2
pytz==2018.7
query-string==2018.11.20
request==2018.11.20
requests==2.20.1
rsa==4.0
six==1.12.0
urllib3==1.24.1
whitenoise==4.1.2
